@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

@theme{
     --color-primary: #5044E5;
}

/* Enable dark mode */
@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    color-scheme: dark;
  }
}

.dark {
  color-scheme: dark;
}

.reset-tw, .reset-tw *{
  all: revert !important;
}

.cl-drawRoot {
  z-index: 10;
}